<a href="https://colab.research.google.com/github/saafiyawaseem/Assignment_4_python_onsite/blob/main/Class_Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lists

In [ ]:
# create and modify list
Fruits =["apple","banana","orange"]
Fruits.append("graps")
print(Fruits)

['apple', 'banana', 'orange', 'graps']

In [ ]:
Fruits.insert(2,"mango")
print(Fruits)

['apple', 'banana', 'mango', 'orange', 'graps']

In [ ]:
Fruits = ['apple', 'banana', 'mango', 'orange', 'graps']
Fruits.remove("banana")
print("Final Fruits :", Fruits)

Final Fruits : ['apple', 'mango', 'orange', 'graps']

#2. List Operations

In [ ]:
num = [10,20,30,40,50]         #list:1
more_num =[60,70,80]           #list:2
all_num =num + more_num         #combine two list
numbers_copy = all_num.copy()  # make  a copy
numbers_copy.reverse()         #for reversing
print("all numbers :" ,all_num)
print("reverse numbers :", numbers_copy)

all numbers : [10, 20, 30, 40, 50, 60, 70, 80]
reverse numbers : [80, 70, 60, 50, 40, 30, 20, 10]

3. Sorting and Counting

In [ ]:
scores = [85, 92, 78, 65, 92, 85, 74 ]

scores.sort()                               # for assending order
print(scores)

scores.reverse()                            # for desending orde
print(scores)

print(scores.count(92))                      #for counting

heighest = max(scores)                       #heighest score
lowest = min(scores)                          #lowest score

print("Heighest score :" ,heighest)
print("Lowest scores :", lowest)

print(sorted(scores))                        # for sorted list

[65, 74, 78, 85, 85, 92, 92]
[92, 92, 85, 85, 78, 74, 65]
2
Heighest score : 92
Lowest scores : 65
[65, 74, 78, 85, 85, 92, 92]

# 4. List Manipulation

In [ ]:

letters = ["a","b","c","d","e"]
# Use slicing to create a new list with only the first three letters
first_three = letters[0:3]
#Use slicing to create another list with only the last two letters
two_letters = letters[3:5]
#Find and print the index of "c" in the list
index = letters.index("c")
#Replace "d" with "z" in the original list
letters[3] = "z"


print(first_three)
print(two_letters)
print(index)
# Print the modified list
print("modified list:" ,letters)

['a', 'b', 'c']
['d', 'e']
2
modified list: ['a', 'b', 'c', 'z', 'e']

#Dictionary Methods Practice

1. Create and Access Dictionaries

In [ ]:
students= {
     "name": "John",
      "age": 20,
     "grade": "A",
    "courses": ["Math", "Science", "History"]
}
Entire_dictionary = students

print(Entire_dictionary)

students ["email"] ="john@example.com"# emaile add kerne ke liye
print(students)

print(students["name"])

print(students["courses"])

{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History']}
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}
John
['Math', 'Science', 'History']
{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'john@example.com'}

#2. Modify Dictionary Values

In [ ]:
students= {
     "name": "Ahmed",
      "age": 20,
     "grade": "A",
    "courses": ["Math", "Science", "History"]
}

students["age"]=21

students['grade']= "A+"
students['courses'].append("computer science")

if 'phone' in students:
 print("Modified dictionary :",students)
else :
  print('phone number is not found')
  print('Modified dictionary : ',students)

phone number is not found
Modified dictionary :  {'name': 'Ahmed', 'age': 21, 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'computer science']}

#3. Dictionary Operations

In [ ]:
students= {
     "name": "John",
      "age": 20,
     "grade": "A",
    "courses": ["Math", "Science", "History"]
}
student_address = {
       "street": "123 College Ave",
        "city": "New York",
         "zip": "10001"

}
# Step 3: Combine both dictionaries into a new dictionary
student_info = students.copy()
student_info.update(student_address)
print(student_info)
student_info.pop("zip")
if "phone" in student_info:

 print(student_info)

{'name': 'John', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'street': '123 College Ave', 'city': 'New York', 'zip': '10001'}

#4. Dictionary Methods

In [ ]:
word_count={
    "hello": 5 ,
    "world": 10 ,
    "python": 15
}

#Get all keys
print(word_count.keys())
#Get all values
print(word_count.values())
#Get all key-value
print(word_count)
#o Make a copy of the dictionary
word_count_copy= word_count.copy()
print(word_count_copy)
#Clear the original dict
word_count.clear()
print(word_count)
#Print both dictionaries to verify one is empty and one is a copy
print("Empty dictionary : " ,word_count)
print("copy dictionary: " , word_count_copy)

dict_keys(['hello', 'world', 'python'])
dict_values([5, 10, 15])
{'hello': 5, 'world': 10, 'python': 15}
{'hello': 5, 'world': 10, 'python': 15}
{}
Empty dictionary :  {}
copy dictionary:  {'hello': 5, 'world': 10, 'python': 15}

#Shopping Discount Calculator
Tasks
1. Set up the initial variables:

In [ ]:
purchase_amount =15000
is_loyalty_member =True
day_of_the_weak="Tuesday"
is_holiday_season =True

original_price = purchase_amount
total_discount = 0.0

#step :1

if purchase_amount > 100:
  discount = purchase_amount *0.10
  print("10% discount for purchase over $100applied : $" , round(discount,2))
  total_discount += discount

elif purchase_amount > 50:
  discount = purchase_amount *0.05
  print("5% discount for purchase over $50 applied : $" , round(discount ,2))
  total_discount += discount

#step:2 loyality discount

if is_loyalty_member:
  loyality_discount = purchase_amount *0.05
  print("5% loyality member discount applied : $", round(loyality_discount , 5))
  total_discount += loyality_discount

#step:3 weakend discount

if day_of_the_weak == "Tuesday"  or day_of_the_weak=="saturday":
  weakend_discount = purchase_amount *0.02
  print("2% weekly discount applied : $" ,round(weakend_discount , 2))
  total_discount += weakend_discount

#step:4 holiday discount

if is_holiday_season:
  holiday_discount = purchase_amount *0.08
  print('8% holiday discount applied : $', round(holiday_discount ,2))
  total_discount += holiday_discount

#step:5 finally calculated price
final_price = purchase_amount - total_discount
print("Original purchase amount : $", round(original_price ,2))
print("Total discount applied : $" ,round(total_discount , 2))
print("Final price after discount : $" , round(final_price ,2))

10% discount for purchase over $100applied : $ 1500.0
5% loyality member discount applied : $ 750.0
2% weekly discount applied : $ 300.0
8% holiday discount applied : $ 1200.0
Original purchase amount : $ 15000
Total discount applied : $ 3750.0
Final price after discount : $ 11250.0

#For Loop
Pattern 2: Multiplication Table

In [ ]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

Pattern 2: Multiplication Table

In [ ]:
for i in range(1,11):

  print(i * 5)

5
10
15
20
25
30
35
40
45
50

#While Loop Assignment - Interactive Game

In [ ]:
secret_number = 42
guess = 0
while guess != secret_number:
 guess = int(input("Guess the number:"))
 if guess > secret_number:
   print("you guessed is too high ")
 elif guess < secret_number:
   print("you guessed is too low")
else:
  print("Congratulation ! You guess correct number")

Guess the number:34
you guessed is too low
Guess the number:53
you guessed is too high
Guess the number:42
Congratulation ! You guess correct number

#Student Grade Management System

In [ ]:
students =[]

student1 :dict ={

             "name": "Anila",
              "id": 123,
              "class": "Thursday morning",
              "quarter": 3,
              "grade": {

                    "Javascript":50,
                    "nextjs":  40,
                    "python": 58,

 }}
student2 ={

          "name": "Nirma",
          "id": 456,
          "class": "Thursday morning",
          "quarter": 3,
          "grade":{

               "Javascript":90,
               "nextjs":  89,
               "python": 98,
 }}

student3 ={

           "name": "Ahmed",
           "id": 789,
           "class": "Thursday morning",
           "quarter": 3,
           "grade": {

                  "Javascript":90,
                  "nextjs":  45,
                  "python": 98,
}}


# Add students to list
students.append(student1)
students.append(student2)
students.append(student3)

# Step 2: Display student info with average
highest_avg = 0
top_student = None

print("\nAll Students and Their Averages:\n")
for student in students:
    print("Name:", student["name"])
    print("ID:", student["id"])
    print("Grades:", student["grade"])

    grades = list(student["grade"].values())
    avg = sum(grades) / len(grades)
    print("Average Grade:", round(avg, 2))

    if avg > highest_avg:
        highest_avg = avg
        top_student = student

    print("-" * 30)

# Step 3: Top student
print("\n Top Student:")
print("Name:", top_student["name"])
print("Average Grade:", round(highest_avg, 2))

# Step 4: Average in specific subject (e.g., 'python')
subject = "python"
total = 0
count = 0

for student in students:
    if subject in student["grade"]:
        total += student["grade"][subject]
        count += 1

if count > 0:
    print(f"\n Average Grade in {subject}:", round(total / count, 2))
else:
    print(f"{subject} subject not found.")

All Students and Their Averages:

Name: Anila
ID: 123
Grades: {'Javascript': 50, 'nextjs': 40, 'python': 58}
Average Grade: 49.33
------------------------------
Name: Nirma
ID: 456
Grades: {'Javascript': 90, 'nextjs': 89, 'python': 98}
Average Grade: 92.33
------------------------------
Name: Ahmed
ID: 789
Grades: {'Javascript': 90, 'nextjs': 45, 'python': 98}
Average Grade: 77.67
------------------------------

 Top Student:
Name: Nirma
Average Grade: 92.33

 Average Grade in python: 84.67